body {
  background-color: #c7adde;
}
h1   {
  color: #331d47;
  font-family: "American Typewriter", Times, serif;
}
h2   {
  color: #331d47;
}
h3   {
  color: #331d47;
}
p    {
  color: #331d47;
  font-family: Helvetica, Arial, sans-serif;
}
